<h1>Create new actors</h1>
<form method="POST">
    <div>
        <label>First name</label>
        <input 
        type="text"
        class="form-input"
        name="first_name"
        />
    </div>

     <div>
        <label>Second name</label>
        <input 
        type="text"
        class="form-input"
        name="last_name"
        />
    </div>

    <input type="submit" class="btn btn-primary mt-3"/>
</form>